[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p

[user]
	name = Wei-Liang
	email = wl.chew.wl@gmail.com
[push]
	default = simple

[core]
  editer = vim
  excludesfile = ~/.gitignore_global
